/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0 26px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown-preview .wmde-markdown ol {
  list-style-type: decimal;
}

.markdown-preview .wmde-markdown ul ol {
  list-style-type: decimal;
}

.markdown-preview .wmde-markdown ul {
  list-style-type: initial;
}

.markdown-preview .wmde-markdown {
  font-size: 16px;
}

.preview-container .markdown-preview .wmde-markdown {
  font-size: 13px;
}

.skeleton {
  box-sizing: border-box;
  display: table;
  width: 100%;
}

.skeleton .skeleton-content {
  box-sizing: border-box;
  display: table-cell;
  width: 100%;
  vertical-align: top;
}

.skeleton .skeleton-content .skeleton-title {
  width: 38%;
  height: 20px;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.skeleton .skeleton-content .skeleton-title + .skeleton-paragraph {
  padding: 0;
  margin-block-start: 24px;
}

.skeleton .skeleton-content .skeleton-paragraph > li {
  width: 100%;
  height: 20px;
  list-style: none;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.skeleton .skeleton-content .skeleton-paragraph > li + li {
  margin-top: 24px;
}

.skeleton .skeleton-content .skeleton-paragraph > li:nth-child(4n) {
  width: 68%;
}

.skeleton.skeleton-active .skeleton-title,
.skeleton.skeleton-active .skeleton-content .skeleton-paragraph > li {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
  background-size: 400% 100%;
  animation-name: skeleton-loading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes skeleton-loading {
  0% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0 50%;
  }
}